@{
    ViewData["Title"] = "Trang chủ";
}
@await Component.InvokeAsync("_OurRoomsPartial")
<div class="text-center">
    <h1 class="display-4">Chào mừng bạn</h1>
    <p>Tìm hiểu thêm về<a href="https://learn.microsoft.com/aspnet/core">cách xây dựng ứng dụng web với ASP.NET Core</a>.</p>
</div>
