@model UpdateWorkLocationDTO

@{
    ViewData["Title"] = "Update Work Location";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Update Work Location</h2>

    <form method="post">
        <input type="hidden" asp-for="WorkLocationId" />

        <div class="form-group">
            <label asp-for="WorkLocationCityName" class="control-label">City Name</label>
            <input asp-for="WorkLocationCityName" class="form-control" />
            <span asp-validation-for="WorkLocationCityName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="WorkLocationCountry" class="control-label">Country</label>
            <input asp-for="WorkLocationCountry" class="form-control" />
            <span asp-validation-for="WorkLocationCountry" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Work Location</button>
        </div>
    </form>
</div>
