@model List<HanaHotel.EntityLayer.Concrete.User>

@{
    ViewData["Title"] = "Người dùng";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Quản lý vai trò người dùng</h2>

    <div class="text-end mb-3">
        <a href="@Url.Action("CreateUser", "Staff")" class="btn btn-primary">Thêm mới người dùng</a>
    </div>

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th scope="col">Mã người dùng</th>
                <th scope="col">Tên</th>
                <th scope="col">Họ</th>
                <th scope="col" class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td class="text-center">
                            <a href="@Url.Action("EditRole", "AdminRoleAssign", new { id = user.Id })" class="btn btn-warning btn-sm me-2" title="Edit User Roles">
                                <i class="fa-solid fa-user-edit"></i> Chỉnh sửa vai trò
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">Không tìm thấy người dùng nào.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

