<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; 2024 | Designed & Developed by <a href="https://github.com/hzuslu/HotelBookingAPI" target="_blank" tabindex="0">Hasan Uslu</a></p>
    </div>
</div>
