<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="padding: 20px 0; margin-top: 12px;">
    <div class="container pb-3" style="padding: 0;">
        <div class="row g-3" style="margin: 0;">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-3">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-2">Hana Hotel</h1></a>
                    <p class="text-white mb-0">
                        Đây là ứng dụng đặt phòng khách sạn trực tuyến được phát triển trên nền tảng ASP.NET Core API.
                        <br/>
                        Nhà phát triển: Nhóm 5 - Dự án Hana Hotel.
                    </p>
                </div>
            </div>
            <!--Liên hệ-->
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-3">Liên hệ</h6>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-2"></i>Số 20 ngõ 116 Nhân Hòa, Trung Hòa Nhân Chính, Hà Nội, Việt Nam
                </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-2"></i>+84 123 456 789</p>
                <p class="mb-2"><i class="fa fa-envelope me-2"></i>contact@hanahotel.com</p>
                <div class="d-flex pt-1">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <!--Gioi thiệu và dịch vụ-->
            <div class="col-lg-5 col-md-12">
                <div class="row gy-3 g-3">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-3">Về chúng tôi</h6>
                        <a class="btn btn-link text-light p-0" href="#">Giới thiệu</a>
                        <a class="btn btn-link text-light p-0" href="#">Liên hệ</a>
                        <a class="btn btn-link text-light p-0" href="#">Chính sách bảo mật</a>
                        <a class="btn btn-link text-light p-0" href="#">Điều khoản & Điều kiện</a>
                        <a class="btn btn-link text-light p-0" href="#">Hỗ trợ</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-3">Dịch vụ</h6>
                        <a class="btn btn-link text-light p-0" href="#">Nhà hàng & Ẩm thực</a>
                        <a class="btn btn-link text-light p-0" href="#">Spa & Thể hình</a>
                        <a class="btn btn-link text-light p-0" href="#">Thể thao & Giải trí</a>
                        <a class="btn btn-link text-light p-0" href="#">Sự kiện & Tiệc</a>
                        <a class="btn btn-link text-light p-0" href="#">Yoga & Thiền</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bản quyền-->
    <div class="container">
        <div class="copyright py-2" style="padding: 10px 0;">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    &copy; Bản quyền thuộc về <strong>Hana Hotel</strong> @DateTime.Now.Year

                    Thiết kế bởi <a class="border-bottom" href="https://htmlcodex.com">Nhóm 5 - ASP.NET Core</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="#" class="text-light">Trang chủ</a>
                        <a href="#" class="text-light">Chính sách Cookie</a>
                        <a href="#" class="text-light">Trợ giúp</a>
                        <a href="#" class="text-light">Sử dụng dữ liệu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
