@* Social stats (placeholder) *@
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6>Facebook</h6>
                <p>Followers: <strong>--</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h6>Instagram</h6>
                <p>Followers: <strong>--</strong></p>
            </div>
        </div>
    </div>
</div>