@* Recent contacts/messages (placeholder) *@
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Recent Contacts</div>
            <div class="card-body">
                <ul class="list-unstyled mb-0">
                    <li>No messages yet.</li>
                </ul>
            </div>
        </div>
    </div>
</div>