<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="padding: 20px 0; margin-top: 12px;">
    <div class="container pb-3" style="padding: 0;">
        <div class="row g-3" style="margin: 0;">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-3">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-2">Hotelier</h1></a>
                    <p class="text-white mb-0">
                        This is a web-based online reservation application developed with ASP.NET Core API. Developer: Hasan Uslu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-3">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-2"></i>Republic St. Ankara</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-2"></i>+90 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-2"></i>core@example.com</p>
                <div class="d-flex pt-1">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-3 g-3">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-3">About Us</h6>
                        <a class="btn btn-link text-light p-0" href="#">About Us</a>
                        <a class="btn btn-link text-light p-0" href="#">Contact Us</a>
                        <a class="btn btn-link text-light p-0" href="#">Security</a>
                        <a class="btn btn-link text-light p-0" href="#">Terms & Conditions</a>
                        <a class="btn btn-link text-light p-0" href="#">Support</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-3">Services</h6>
                        <a class="btn btn-link text-light p-0" href="#">Dining & Restaurant</a>
                        <a class="btn btn-link text-light p-0" href="#">Spa & Fitness</a>
                        <a class="btn btn-link text-light p-0" href="#">Sports & Games</a>
                        <a class="btn btn-link text-light p-0" href="#">Events & Entertainment</a>
                        <a class="btn btn-link text-light p-0" href="#">Yoga & Meditation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright py-2" style="padding: 10px 0;">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    &copy; All Rights Reserved @DateTime.Now.Year

                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="#" class="text-light">Home</a>
                        <a href="#" class="text-light">Cookies</a>
                        <a href="#" class="text-light">Help</a>
                        <a href="#" class="text-light">Data Usage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
