<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/AdminUser/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-friends nav-icon"></i>
                    <span class="nav-text">Người dùng</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-tie nav-icon"></i>
                    <span class="nav-text">Nhân viên</span>
                </a>
            </li>
            <li>
                <a href="/AdminRole/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-tag nav-icon"></i>
                    <span class="nav-text">Vai trò</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoleAssign/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-plus nav-icon"></i>
                    <span class="nav-text">Gán vai trò</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-calendar-check nav-icon"></i>
                    <span class="nav-text">Đặt phòng</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-bed nav-icon"></i>
                    <span class="nav-text">Phòng</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-concierge-bell nav-icon"></i>
                    <span class="nav-text">Dịch vụ</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user nav-icon"></i>
                    <span class="nav-text">Khách</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-map-marker-alt nav-icon"></i>
                    <span class="nav-text">Địa điểm làm việc</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span class="nav-text">Đánh giá</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-inbox nav-icon"></i>
                    <span class="nav-text">Tin nhắn</span>
                </a>
            </li>
            <li>
                <a href="/AdminMessageCategories/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-inbox nav-icon"></i>
                    <span class="nav-text">Danh mục tin nhắn</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-info-circle nav-icon"></i>
                    <span class="nav-text">Giới thiệu</span>
                </a>
            </li>

        </ul>
    </div>
</div>
