<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/AdminUser/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-friends nav-icon"></i>
                    <span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-tie nav-icon"></i>
                    <span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a href="/AdminRole/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-tag nav-icon"></i>
                    <span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoleAssign/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user-plus nav-icon"></i>
                    <span class="nav-text">Assign Role</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-calendar-check nav-icon"></i>
                    <span class="nav-text">Bookings</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-bed nav-icon"></i>
                    <span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-concierge-bell nav-icon"></i>
                    <span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-user nav-icon"></i>
                    <span class="nav-text">Guest</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-map-marker-alt nav-icon"></i>
                    <span class="nav-text">Work Locations</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span class="nav-text">Testimonials</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-inbox nav-icon"></i>
                    <span class="nav-text">Messages</span>
                </a>
            </li>
            <li>
                <a href="/AdminMessageCategories/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-inbox nav-icon"></i>
                    <span class="nav-text">Message Categories</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false" class="nav-link">
                    <i class="fa-solid fa-info-circle nav-icon"></i>
                    <span class="nav-text">About Us</span>
                </a>
            </li>

        </ul>
    </div>
</div>
